

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


body {
  background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.25) 200%);
  background-blend-mode: multiply;
}

a {
  color: inherit;
  text-decoration: none;
}

h1, h2, h3, h4, p, li, svg {
  color: #fff;
}

.main-title {
  font-size: 3rem;
  color: #fff;
  text-align: center;
  margin: 20px 0 20px 0;
  font-family: 'Courier New, monospace';
  border: 1px solid #323232;
  padding: 10px;
  transition: all 0.3s ease;
  border-color: #b2b20c;
  display: block
}

.main-title:hover {
  background-color: #323232;
  border-color: none;
}

.breadcrumb-wrapper {
  margin: 1.5em 2em 1em 2em;
  display: flex;
  font-size: 1.2em;
  align-items: center;
}

.breadcrumb-div {
  margin: 0 12px;
}

.breadcrumb-link {
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.breadcrumb-link:hover {
  color: #007bff;
}

.menu {
  list-style-type: none; 
  margin: 0; 
  padding: 0; 
  display: flex; 
  background-color: #333; 
}

.menu_option {
  padding: 14px 20px;
  text-decoration: none; 
  color: white; 
  text-align: center; 
  cursor: pointer; 
  transition: background-color 0.3s, transform 0.3s;
}

.menu_option:hover {
  background-color: #575757;
}

.active {
  text-decoration: underline;
  color: white; 
}

.spin {
  font-size: 4em;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em;
  height: 75vh;
}